<h3><%= "test test" %></h3>

<% @products.each do |product| %>
  <h2><a href="/client/products/<%= product["id"] %>"></a> <%= product["name"] %></h2>

  <h3><%= product["price"] %></h3>
<!--   <h4><%= product[""] %></h4>
  <h4><%= product[""] %></h4> -->
  <br>
<% end %>